/* z-index */
$z-index-tooltip: 1200; /* Всплывающие подсказки: Это может использоваться, когда вы хотите, чтобы подсказка была поверх другого содержимого на странице, например, при наведении на ссылку. */
$z-index-modal: 1100; /* Модальные окна: Модальные окна обычно должны находиться поверх всего остального контента, чтобы пользователь смог сосредоточить внимание на них. */
$z-index-navbar: 1000; /* Панель навигации: Это может быть полезно, если вы хотите, чтобы ваша навигационная панель всегда была поверх остального контента. */
$z-index-header: 900; /* Заголовок страницы */
$z-index-footer: 800; /* Подвал страницы */
$z-index-content: 700; /* Основное содержимое страницы */
$z-index-overlay: 600; /* Фоновый оверлей: Оверлей может использоваться для создания эффектов, таких как затемнение фона. Он может быть выше элементов фона. */
$z-index-images: 500; /* Изображения: Изображения могут быть на заднем плане в зависимости от дизайна. Например, если у вас есть фоновая картинка. */
$z-index-background: 400; /* Фоновые элементы: Элементы, которые представляют собой часть фонового оформления страницы. */
$z-index-below-content: 300; /* Элементы под контентом: Элементы, которые должны быть на заднем плане, даже ниже основного содержимого. */
