<ul class="feedbacks">
  <% feedbacksData.slice(0, 3).forEach(feedback => { %>
  <li class="feedback">
    <div class="feedback__avatar"><%= feedback.avatar %></div>
    <h3 class="feedback__name"><%= feedback.name %></h3>
    <p class="feedback__text"><%= feedback.feedback %></p>
  </li>
  <% }) %>
</ul>
