<!doctype html>
<html lang="en">
  <head>
    <!-- Meta tags of site pages -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="RTE Group предоставляет полный спектр услуг по перевозке крупногабаритных и негабаритных грузов, а также специальной техники. Надежный сервис, современный автопарк. Работаем в России и ближнем зарубежье. Решаем логистические задачи под ключ. Получите бесплатную консультацию."
    />
    <meta name="keywords" content="HTML5, CSS, EJS, JS, RTE Group" />
    <meta name="author" content="NotACat" />

    <!-- favicon -->
    <link rel="apple-touch-icon" href="<%= require('@images/favicon/apple-touch-icon.png') %>" />
    <link rel="icon" href="<%= require('@images/favicon/favicon.ico') %>" sizes="16x16" type="image/x-icon" />

    <!-- Open Graph Meta Tags -->
    <meta property="og:type" content="business.business" />
    <meta property="og:title" content="RTE Group: Услуги" />
    <meta
      property="og:description"
      content="RTE Group предоставляет полный спектр услуг по перевозке крупногабаритных и негабаритных грузов, а также специальной техники. Надежный сервис, современный автопарк. Работаем в России и ближнем зарубежье. Решаем логистические задачи под ключ. Получите бесплатную консультацию."
    />
    <meta property="og:url" content="https://notacat1.github.io/RTE-Group-new/" />
    <meta property="og:image" content="https://ie.wampi.ru/2023/10/04/social.png" />
    <meta property="og:site_name" content="РТ Экспресс" />
    <meta property="og:locale" content="ru_RU" />

    <title>RTE Group: Услуги</title>
  </head>

  <body class="page">
    <%= require('@blocks/header/header.ejs').default %>
    <main>
      <section class="service-form">
        <div class="service-form__info-container">
          <h1 class="service-form__title">Услуги</h1>
          <div class="service-form__text">
            <p class="service-form__paragraph">
              RTE Group оказывает полный комплекс услуг по перевозке крупногабаритных и негабаритных грузов, а также
              доставке специальной техники. Надежный, продуманный сервис, разработкой которого занимались специалисты с
              20-летним опытом в логистике. Строгое соблюдение сроков, гарантия результата по договору, новый автопарк —
              это лишь малая часть преимуществ, которые обеспечит RTE Group.
            </p>
            <p class="service-form__paragraph">
              География работы — вся Россия и ближнее зарубежье. Не имеет значения, насколько удален ваш регион  — мы
              готовы предложить решение логистической задачи «под ключ»: от проработки маршрута до погрузки оборудования
              на транспорт и выгрузки в конечной точке. Ознакомьтесь со списком услуг и получите бесплатную
              консультацию.
            </p>
          </div>
        </div>
        <%= require('@blocks/form/form_main.ejs').default %>
      </section>
      <%= require('@blocks/services/services.ejs').default %>
    </main>
    <%= require('@blocks/footer/footer.ejs').default %>
  </body>
</html>
