@import url('@blocks/case');
@import url('@blocks/badge');

.cases {
  @include reset-block;
  @include reset-list;

  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;

  @include media(xl) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media(md) {
    grid-template-columns: 1fr;
    gap: 8px;
  }
}
