<footer class="footer">
  <div class="footer__container">
    <a class="footer__logo" href="#" target="_self">
      <img
        class="footer__logo-img footer__logo-img_big"
        src="~@images/logo/on_black/logo-horizontal.svg"
        alt="Логотип RTE Group"
      />
      <img
        class="footer__logo-img footer__logo-img_small"
        src="~@images/logo/on_black/logo-vertical.svg"
        alt="Логотип RTE Group"
      />
    </a>
    <ul class="footer__list">
      <% footerData.links.forEach(link => { %>
      <li class="footer__list-item">
        <a class="footer__list-link" href="<%= link.link %>" target="_self"><%= link.name %></a>
      </li>
      <% }) %>
      <li class="footer__list-item">
        <a class="footer__list-link" href="#" target="_self">Услуги</a>
      </li>
    </ul>
    <p class="footer__copyright">2023 &copy; RTE Group</p>
  </div>
</footer>
