.city-link {
  @include reset-block;

  box-sizing: border-box;
  padding: 24px;
  height: 198px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 16px;
  background-color: $color-bg-surface;

  @include media(md) {
    height: auto;
    padding: 16px;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
  }

  &__link {
    @include reset-link;
  }

  &__gerb {
    @include reset-block;

    height: 64px;

    @include media(md) {
      height: 40px;
    }
  }

  &__title {
    @include reset-text;
    @include typography-lead;

    @include media(md) {
      @include typography-body-semibold;

      align-self: center;
    }

    color: $color-main;
    font-family: $font-family-main;
  }
}
