.services {
  @include reset-block;

  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 24px 32px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 24px;

  @include media(md) {
    padding: 8px 16px 16px;
    gap: 16px;
  }

  &_style {
    &_1 {
      background-color: $color-bg-surface;
    }

    &_2 {
      background-color: $color-bg;
    }
  }

  &__img {
    height: 96px;
  }

  &__title {
    @include reset-text;
    @include typography-h4;

    color: $color-main;
    font-family: $font-family-main;
  }

  &__description {
    @include reset-text;
    @include typography-body;

    color: $color-main;
    font-family: $font-family-main;
  }
}
