.table {
  @include reset-table;

  width: 100%;

  &__th {
    @include reset-cell;
    @include reset-text;
    @include typography-body-semibold;

    box-sizing: border-box;
    padding: 16px 24px;
    border-top: 1px solid $color-darkgray;
    border-bottom: 1px solid $color-darkgray;
    background-color: $color-bg-white;
    text-align: center;
    color: $color-main;
    font-family: $font-family-main;
  }

  &__td {
    @include reset-cell;
    @include reset-text;
    @include typography-body;

    box-sizing: border-box;
    padding: 16px 24px;
    border-top: 1px solid $color-darkgray;
    border-bottom: 1px solid $color-darkgray;
    text-align: center;
    color: $color-main;
    font-family: $font-family-main;
  }
}
