.team {
  @include reset-block;

  display: grid;
  grid-template-columns: 72px auto;
  grid-template-rows: min-content auto;
  row-gap: 16px;
  column-gap: 24px;
  grid-template-areas:
    'A B'
    'C C';

  &__avatar {
    @include reset-block;

    grid-area: A;
    width: 100%;
    display: block;
    border-radius: 80px;
    background-color: $color-bg-card;
  }

  &__info {
    @include reset-block;

    grid-area: B;
    height: fit-content;
    align-self: center;
  }

  &__name {
    @include reset-text;
    @include typography-body-semibold;

    color: $color-main;
    font-family: $font-family-main;
  }

  &__description {
    @include reset-text;
    @include typography-body;

    color: $color-main;
    font-family: $font-family-main;
    opacity: 0.5;
  }

  &__text {
    @include reset-text;
    @include typography-body;

    grid-area: C;
    color: $color-main;
    font-family: $font-family-main;
  }
}
