<form
  class="form form_default"
  action="/submit"
  method="post"
  id="vacancy"
  data-popup-title="Ваше резюме отправлено"
  data-popup-subtitle="Мы свяжемся с вами в ближайшее время"
  novalidate
>
  <h2 class="form__title">Отправить резюме</h2>
  <fieldset class="form__fieldset">
    <div class="input">
      <input
        class="input__input"
        title="Введите свое имя"
        type="text"
        id="vacancy-name"
        name="vacancy-name"
        placeholder=""
        data-mes-err="Поле обязательно для заполнения"
        required
      />
      <label class="input__label" for="vacancy-name">Имя<sup>*</sup></label>
      <span class="input__error" id="vacancy-name-error"></span>
    </div>
    <div class="input">
      <input
        class="input__input"
        title="Введите свою электронную почту"
        type="email"
        id="vacancy-email"
        name="vacancy-email"
        placeholder=""
        data-mes-err="Поле обязательно для заполнения"
        required
      />
      <label class="input__label" for="vacancy-email">E-mail<sup>*</sup></label>
      <span class="input__error" id="vacancy-email-error"></span>
    </div>
    <div class="input">
      <input
        class="input__input"
        title="Введите свой телефонный номер"
        type="tel"
        id="vacancy-tel"
        name="vacancy-tel"
        placeholder=""
        data-mes-err="Поле обязательно для заполнения"
        required
      />
      <label class="input__label" for="vacancy-tel">Телефон<sup>*</sup></label>
      <span class="input__error" id="vacancy-tel-error"></span>
    </div>
    <div class="checkbox">
      <input
        class="checkbox__input"
        title="Подтвердите согласие на обработку персональных данных"
        type="checkbox"
        required
      />
      <p class="checkbox__text">
        Согласен на обработку персональных данных в соответствии с
        <a class="checkbox__link" href="#" target="_blank">политикой конфиденциальности</a>
      </p>
    </div>
  </fieldset>
  <button class="button button_style_primary">Отправить</button>
</form>
